[submodule "express-backend"]
	path = express-backend
	url = https://github.com/Frostbite-ai/MorganBackend
[submodule "vite-frontend"]
	path = vite-frontend
	url = https://github.com/ujjujjuj/morganstanley-hack23/
